<div>
  <div class="container">
    <h3 class="text-center" style="color: aliceblue;">Angular File Upload | Download </h3><hr/>
  </div>
  
  
  <div class="container">
  
    <label class="">UserName</label> 
    <input class="form-control" type="text" [(ngModel)]="userName" style="margin: 3px;" placeholder="Ingresa el nombre"/>
    <input class="form-control" type="file" (change)="onFileSelected($event)" style="margin: 3px;" />
    <button (click)="save()" class="btn btn-primary" style="width: 100%;">Guardar</button>
  
    <div class="row">
      <div class="col-sm-6 col-md-3" *ngFor="let user of userList">
          <div class="card text-center" style="width: 250px;height: 250px;margin-bottom: 150px;">
            <img class="card-img-top rounded-circle" style="width: 100%;height: 100%;object-fit: cover;" [src]="'data:image/png;base64,'+user.displayPicture" alt="Title" />
            <div class="card-body">
              <h4 class="card-title" style="color: aliceblue;">{{user.userName}}</h4>
               <button (click)="downloadImage(user.displayPicture, user.userName)" class="btn btn-secondary" style="margin: 3px 10px;">Download</button>
               <button (click)="deleteUser(user.id)" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
